body{
    background-color: rgba(229, 229, 229, 0.678);
}
header{
    background-color: rgba(122, 122, 122, 0.678);
}
.item{
    color:white;
    text-decoration: none !important;     
}
.logo {
    color:white;
    margin: 15px 20px 15px 20px;
    font-weight: bold;
    font-size: 26px; 
    text-decoration: none !important; 
}
ul{
    list-style: none !important;
    display: flex !important;
    justify-content: space-evenly !important;
}
.site-header {
    position: relative;
}
  
.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem; 
}